@model IEnumerable<WebApplication4.DataDB.Position>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-lg-3" style="background-color: #1C1C39;">
        <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

        <div class="container-fluid" style="margin-top: -30px" align="center">
            <div class="col-8" align="left">
                <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                               <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Positions")" class="text-decoration-none text-white mt-2"><i class="bi-person-badge"></i> Position List</a><br /></h5>
                <h5><a href="@Url.Action("Deductions", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-dash-circle"></i> Deduction List</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                <br /><br />
                <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
            </div>
        </div>
    </div>
<div class="col-lg-9 bg-light" style="height: 100vh !important">
    <br /><br />

    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="bg-white p-4 shadow">
                    <h1>Position Form</h1>

                        <form asp-action="Create" method="post">
                            <label for="position" class="form-label mt-4">Position</label>
                            <input required type="text" class="form-control" id="position" name="position" placeholder="Position" />

                            <hr />
                            <p>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </p>
                        </form>
                </div>
            </div>
            <div class="col-7">
                <div class="bg-white p-4 shadow">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                   Position
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Position1)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PositionId">Edit</a> |
                                        @* <a asp-action="Details" asp-route-id="@item.PositionId">Details</a> | *@
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PositionId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
