@model IEnumerable<WebApplication4.DataDB.EmpInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SssNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagibigNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SssNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagibigNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dd.DdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNavigation.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionNavigation.PositionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
