@model IEnumerable<WebApplication4.DataDB.Attd>
@{
    ViewData["Title"] = "Reports";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-3" style="background-color: #1C1C39;">
            <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

            <div class="container-fluid" style="margin-top: -30px" align="center">
                <div class="col-8" align="left">
                    <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                    <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                    <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                    <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                    <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                    <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                    <br /><br />
                    <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-9 bg-light" style="height: 100vh !important">
            <br /><br />
            <div class="container">
                <div class="bg-white p-4 shadow">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Print Report</h1>
                        </div>
                        <div class="col-md-6 d-flex">
                            <form asp-controller="Report" asp-action="Index" method="get" class="d-flex align-items-center">
                                <div class="form-group mb-0">
                                    <label for="selectedDate" class="mr-2">Filter by Date:</label>
                                    <input type="date" class="form-control" id="date" name="selectedDate" style="height: 38px;" />
                                </div>
                                <button type="submit" class="btn btn-primary mt-4" style="width: auto; height: 38px;">Filter</button>
                            </form>
                            <button class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#generate-modal" style="width: auto; height: 38px;">
                                <i class="bi-download"></i> Generate Report
                            </button>
                        </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <table id="table" class="table">
                                <thead class="text-center">
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Holiday</th>
                                        <th>Schedule Time</th>
                                        <th>Time Record</th>
                                        <th>Night Differential</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.EmpId)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Holiday)</td>
                                                <td>@Html.DisplayFor(modelItem => item.St)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Tr)</td>
                                                <td>@Html.DisplayFor(modelItem => item.nd)</td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">No data found for the selected date.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-6">
                            <p>Showing @((ViewBag.CurrentPage - 1) * ViewBag.PageSize + 1) to @Math.Min(ViewBag.CurrentPage * ViewBag.PageSize, ViewBag.TotalRecords) of @ViewBag.TotalRecords entries</p>
                        </div>

                        <div class="col-6" align="right">
                            @if (ViewBag.CurrentPage > 1)
                            {
                                <a href="@Url.Action("Index", new { selectedDate = ViewBag.SelectedDate, page = ViewBag.CurrentPage - 1 })" class="text-decoration-none">Previous</a>
                            }

                            @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalRecords / ViewBag.PageSize); i++)
                            {
                                <a href="@Url.Action("Index", new { selectedDate = ViewBag.SelectedDate, page = i })" class="btn btn-secondary mx-2 @(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
                            }

                            @if (ViewBag.CurrentPage < Math.Ceiling((double)ViewBag.TotalRecords / ViewBag.PageSize))
                            {
                                <a href="@Url.Action("Index", new { selectedDate = ViewBag.SelectedDate, page = ViewBag.CurrentPage + 1 })" class="text-decoration-none">Next</a>
                            }
                        </div>
                    </div>
   @*                  <div class="row">
                        <div class="col-6">
                            <p>Showing 1 to 1 of 1 entries</p>
                        </div>

                        <div class="col-6" align="right">
                            <a href="#" class="text-decoration-none">Previous</a>
                            <a href="#" class="btn btn-secondary mx-2">1</a>
                            <a href="#" class="text-decoration-none">Next</a>
                        </div>
                    </div> *@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout-modal-label">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger">Logout</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="generate-modal" tabindex="-1" aria-labelledby="generate-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generate-modal-label">Generate Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Generate a day report?
                </div>
                <div class="modal-footer">
                    <button id="download" type="button" class="btn btn-primary">Generate</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

