@model IEnumerable<WebApplication4.DataDB.SysAcc>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-3" style="background-color: #1C1C39;">
        <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

        <div class="container-fluid" style="margin-top: -30px" align="center">
            <div class="col-8" align="left">
                <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                               <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                <br /><br />

                <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
            </div>
        </div>
    </div>

    <div class="col-lg-9 bg-light" style="height: 100vh !important">
        <br /><br />

        <div class="container">
            <div class="bg-white p-4 shadow">
                <div class="row">
                    <div class="col-7">
                        <h1>Manage Users</h1>
                    </div>

                    <div class="col-5 pt-2 d-inline m-0" align="right">
                        <a asp-action="Create" class="btn btn-primary">Create New</a>
                    </div>
                </div>
                <br />

                <table class="table table-hover">
            <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            Password
                        </th>
                        <th></th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pass)
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                             @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                             }
                    </tbody>
                </table>
                            <br />

                <div class="row">
                    <div class="col-6">
                        <p>Showing @((ViewBag.CurrentPage - 1) * 5 + 1) to @Math.Min(ViewBag.CurrentPage * 5, ViewBag.TotalPages * 5) of @ViewBag.TotalPages entries</p>
                    </div>
                    <div class="col-6" align="right">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" class="text-decoration-none">Previous</a>
                        }
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <a href="@Url.Action("Index", new { page = i })" class="btn btn-secondary mx-2">@i</a>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })" class="text-decoration-none">Next</a>
                        }
                    </div>
                </div>

@*                 <div class="row">
                    <div class="col-6">
                        <p>Showing 1 to 1 of 1 entries</p>
                    </div>

                    <div class="col-6" align="right">
                        <a href="#" class="text-decoration-none">Previous</a>
                        <a href="#" class="btn btn-secondary mx-2">1</a>
                        <a href="#" class="text-decoration-none">Next</a>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout-modal-label">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger">Logout</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>