
@{
    ViewData["title"] = "Manage Users";
}

<div class="row">
    <div class="col-lg-3" style="background-color: #1C1C39;">
        <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

        <div class="container-fluid" style="margin-top: -30px" align="center">
            <div class="col-8" align="left">
                <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                               <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                <br /><br />

                <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
            </div>
        </div>
    </div>

    <div class="col-lg-9 bg-light" style="height: 100vh !important">
        <br /><br />

        <div class="container">
            <div class="bg-white p-4 shadow">
                <div class="row">
                    <div class="col-7">
                        <h1>Manage Users</h1>
                    </div>

                    <div class="col-5 pt-2 d-inline m-0" align="right">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#new-user-modal"><i class="bi-plus"></i> New User</button>
                    </div>
                </div>
                <br />

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <td>Username</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td>John Doe</td>
                            <td>johndoe_01</td>
                            <td>
                                <button class="btn btn-primary" style="margin-right: 6px;" data-bs-toggle="modal" data-bs-target="#update-user-modal"><i class="bi-pencil-square"></i></button>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal"><i class="bi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="row">
                    <div class="col-6">
                        <p>Showing 1 to 1 of 1 entries</p>
                    </div>

                    <div class="col-6" align="right">
                        <a href="#" class="text-decoration-none">Previous</a>
                        <a href="#" class="btn btn-secondary mx-2">1</a>
                        <a href="#" class="text-decoration-none">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout-modal-label">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger">Logout</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new-user-modal" tabindex="-1" aria-labelledby="new-user-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="new-user-label">New User</h5>

                <div class="form-group">
                    <label for="name" class="form-label mt-2">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" />

                    <label for="username" class="form-label mt-2">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" />

                    <label for="password" class="form-label mt-2">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-user-modal" tabindex="-1" aria-labelledby="update-user-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="update-user-label">Update User Details</h5>

                <div class="form-group">
                    <label for="name" class="form-label mt-2">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" value="John Doe" />

                    <label for="username" class="form-label mt-2">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" value="johndoe_01" />

                    <label for="password" class="form-label mt-2">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout-modal-label">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger">Logout</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script defer>
    window.onload = () =>
        $(function () {
            $('#datepicker').datepicker();
        });
</script>