<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@{
    ViewData["title"] = "Payslip";
    decimal sssDeduction = 0.06m * Model.TotalSalary;
    decimal pagIbigDeduction = 0.01m * Model.TotalSalary;
    decimal totalDeduction = sssDeduction + pagIbigDeduction;
    decimal FinalSalary = Model.TotalSalary - totalDeduction;
}
<div class="row">
    <div class="col-lg-3" style="background-color: #1C1C39;">
        <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

        <div class="container-fluid" style="margin-top: -30px" align="center">
            <div class="col-8" align="left">
                <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                 <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                <br /><br />

                <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
            </div>
        </div>
    </div>

    <div class="col-lg-9 bg-light" style="height: 100vh !important">
        <br /><br />

        <div class="container">
            <div class="bg-white p-4 shadow">
                <div class="row">
                    <div class="col-7">
                        <h1>Payslip</h1>
                        
                    </div>

                    <div class="col-5 pt-2 d-inline m-0" align="right">
                        <div class="row gx-2">
                            <div class="col-6">
                                <div class="input-group date w-100" id="datepicker">
                                    <input type="text" class="form-control" id="date" />
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="bi-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-6">
                                <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#print-modal"><i class="bi-printer"></i> Print</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="card card-body border-dark" id="payslipTable">
                    <div class="row">
                        <div class="col-6">
                            <p><b>Employee ID:</b> @Model.EmployeeId</p>
                            <p><b>Name:</b> @Model.EmployeeName</p>
                        </div>

                        <div class="col-6">
                            <p><b>Payroll Ref:</b> @Model.RandomNumber</p>
                            <p style="font-size:smaller" ><b style="font-size:medium">Payroll Range:</b> @Model.FirstAttendanceDate - @Model.LatestAttendanceDate</p>
                        </div>
                    </div>

                    <div class="row bg-dark text-white border border-white" align="center">
                        <div class="col-6">
                            <b>Earnings</b>
                        </div>

                        <div class="col-6">
                            <b>Deduction</b>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-6">
                            <p><b>Night Differential:</b> @Model.TotalNdValue</p>
                            <p><b>Basic Pay:</b> @Model.Rate</p>
                            <p><b>Total Earnings:</b> @Model.TotalSalary</p>
                        </div>

                        <div class="col-6">
                            <p><b>SSS:</b> @sssDeduction</p>
                            <p><b>PAG-IBIG:</b> @pagIbigDeduction</p>
                            <p><b>Total Deduction:</b> @totalDeduction</p>
                        </div>
                        <div class="col-12">
                            <p><b>Final Salary:</b> @FinalSalary</p>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-6">
                        <p>Showing 1 to 1 of 1 entries</p>
                    </div>

                    <div class="col-6" align="right">
                        <a href="#" class="text-decoration-none">Previous</a>
                        <a href="#" class="btn btn-secondary mx-2">1</a>
                        <a href="#" class="text-decoration-none">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="print-modal" tabindex="-1" aria-labelledby="print-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="print-modal-label">Print</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Print payslip?
            </div>
            <div class="modal-footer">
                <button id="DownloadPayslipReport" type="button" class="btn btn-primary">Current Page</button>
                <button type="button" class="btn btn-secondary">All Pages</button>
            </div>
        </div>
    </div>
</div>

<script>
    function pdf() {
        const headingDiv = document.createElement('div');
        headingDiv.innerHTML = '<h1>Salary Report</h1>';
        const tableElement = document.getElementById('payslipTable');
        const containerDiv = document.createElement('div');
        containerDiv.appendChild(headingDiv);
        containerDiv.appendChild(tableElement);

        html2pdf(containerDiv, {
            margin: 10,
            filename: 'Salary Report.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        });
    }
    $(document).ready(function () {
        $("#DownloadPayslipReport").click(function () {
            pdf();
        });
    });
</script>