
@{
    ViewData["title"] = "Reports";
}

<div class="row">
    <div class="col-lg-3" style="background-color: #1C1C39;">
        <img src="~/payroll-logo.png" width="100%" style="margin-top: -50px" />

        <div class="container-fluid" style="margin-top: -30px" align="center">
            <div class="col-8" align="left">
                <h5><a href="@Url.Action("Dashboard", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-house"></i> Home</a><br /></h5>
                <h5><a href="@Url.Action("Index","Attds")" class="text-decoration-none text-white mt-2"><i class="bi-person-check"></i> Attendance</a><br /></h5>
                               <h5><a href="@Url.Action("Index", "Employees")" class="text-decoration-none text-white mt-2"><i class="bi-people"></i> Employee List</a><br /></h5>
                <h5><a href="@Url.Action("Payslip", "Pages")" class="text-decoration-none text-white mt-2"><i class="bi-envelope-paper"></i> Payslip</a><br /></h5>
                <h5><a href="@Url.Action("Index", "Report")" class="text-decoration-none text-white mt-2"><i class="bi-file-earmark-text"></i> Reports</a><br /></h5>
                <h5><a href="@Url.Action("Index", "SysAccs")" class="text-decoration-none text-white mt-2"><i class="bi-person"></i> Manage Users</a><br /></h5>
                <br /><br />

                <h5><a href="#" class="text-decoration-none text-white mt-2" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="bi-box-arrow-left"></i> Logout</a><br /></h5>
            </div>
        </div>
    </div>

    <div class="col-lg-9 bg-light" style="height: 100vh !important">
        <br /><br />

        <div class="container">
            <div class="bg-white p-4 shadow">
                <div class="row">
                    <div class="col-7">
                        <h1>Print Report</h1>
                    </div>

                    <div class="col-5 pt-2 d-inline m-0" align="right">
                        <div class="row gx-2">
                            <div class="col-6">
                                <div class="input-group date w-100" id="datepicker">
                                    <input type="text" class="form-control" id="date" />
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="bi-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-6">
                                <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#generate-modal"><i class="bi-download"></i> Generate Report</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <h3>Data Attendance</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Employee ID</td>
                            <td>Name</td>
                            <td>Holiday</td>
                            <td>Schedule Time</td>
                            <td>Time Record</td>
                            <td>Night Differential</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456</td>
                            <td>Juan G. Dela Cruz</td>
                            <td><i class="bi-x-lg"></i></td>
                            <td>8:30 &mdash; 5:30</td>
                            <td>8:26 &mdash; 5:23</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="row">
                    <div class="col-6">
                        <p>Showing 1 to 1 of 1 entries</p>
                    </div>

                    <div class="col-6" align="right">
                        <a href="#" class="text-decoration-none">Previous</a>
                        <a href="#" class="btn btn-secondary mx-2">1</a>
                        <a href="#" class="text-decoration-none">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout-modal-label">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-danger">Logout</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generate-modal" tabindex="-1" aria-labelledby="generate-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generate-modal-label">Generate Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Generate a day report?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Generate</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script defer>
    window.onload = () =>
        $(function () {
            $('#datepicker').datepicker();
        });
</script>