<nav class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Attendance List", "Attendance", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Employee List", "EmployeeList", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Payslip Receipt", "Payslip", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Position List", "Position", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Deduction List", "Deduction", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Reports", "Reports", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Manage Users", "ManageUser", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })
        </li>
    </ul>
</nav>
